.Container {
    position: relative;
    max-width:700px;
    width:100%;  
    background-color:#E8F5E9; 
    padding: 25px 30px;
    border-radius: 5px;
    margin:auto;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.Container .title {
    font-size:25px;
    font-weight: 500;
    position:relative;
}

.Container .title::before {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    height: 3px;
    width:30px;
    background-color: #9b59b6;
}
 

.Container form  .user-details{
 display:flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin:20px 0 12px 0;
}

form  .user-details .input-box { 
    margin-bottom: 15px;
    width: calc(100%/2-20px);
}

form  .user-details .input-box ion-icon {
    position: relative;
    left: 130px;
    top: 40px;
}

.user-details .input-box .details {
    display: block;
    font-weight:500 ;
    margin-bottom: 5px;
}


.user-details .input-box input {
height: 44px;
width: 100%;
outline: none;
border-radius: 5px;
border:1px solid #ccc;
padding-left:15px;
font-size: 16px;
border-bottom-width: 2px;
transition:all 0.3s ease ;
cursor: pointer;
}

.user-details .input-box input::valid  {
border-color: #9b59b6;
}




.btn-info {
    height:100%;
    outline:none;
    color:#fff;
    border:none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    margin-right:20px;
}

.btn-info:hover {
    background: linear-gradient(-135deg,#71b7e6,#9b59b6);
}


.Login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-primary {
    margin-left: 20px;
}

.btn-primary:hover {
background:#71b7e6;
color:black;
border:none;
}

@media (max-width:584px) {
    .Container {
        max-width:100%;
    }
    form  .user-details .input-box { 
        margin-bottom: 15px;
        width: 100%;
    }
}



.detail {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.detail:hover {
    color:#71b7e6
}

.btn-danger:hover {
background: salmon;
border: none;
border-radius: 10px;
}


.btn-outline-secondary {
    border-style: none;
}

.btn-warning {
    position: relative;
    left:100px
}


.btn-warning:hover {
background: salmon;
color:white;
border: none;
border-radius: 10px;
}

.cancel {
    position: relative;
    left:200px;
}

.Loading {
text-align: center;
color:3px solid black;
height: 50px;
}

.google {
    border: none;
}

/* .navbar-brand {
    width: 200px; 
  }
   */
   .navbar-logo {
    
    width:300%;
    height:300%;
  } 
  
  .btn-success {
    margin-right: 20px;
  }

  .table-container {
    overflow-x: auto;
    text-align: center; /* Pour centrer le contenu dans le conteneur parent */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto; /* Pour centrer le tableau horizontalement */
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, tr {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #71b7e6;
    color: white;
  }

  .trash {
    border: none;
  }

  .refresh {
    border: none;
  }
  